.offers-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.offers-cards .card {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  text-align: center;

  padding: 24px 16px;

  border-radius: 16px;
}

.offers-cards .card header {
  position: static;
  display: block;
  background-color: transparent;

  padding: 0;

  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);

  margin: 8px 0 0;
}

.offers-cards .card header h3 span {
  display: inline-block;

  font-size: 32px;

  margin-top: 24px;
}

.offers-cards .card.japao {
  background-image: url(../img/bg-card-japao.jpg);
}

.offers-cards .card.san-andreas {
  background-image: url(../img/bg-card-san-andreas.jpg);
}

.offers-cards .card.paraiba {
  background-image: url(../img/bg-card-paraiba.jpg);
}

.offers-cards .card.manaus {
  background-image: url(../img/bg-card-manaus.jpg);
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards {
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards {
    width: 1200px;
  }

  .offers-cards .card {
    width: 588px;
    height: 308px;
  }

  .offers-cards .card header h3 {
    font-size: 48px;
  }

  .offers-cards .card header h3 span {
    font-size: 40px;
  }
}
